<p id="notice"><%= notice %></p>

<p>
  <b>Email:</b>
  <%= @customer.email %>
</p>

<p>
  <b>Password digest:</b>
  <%= @customer.password_digest %>
</p>

<p>
  <b>First name:</b>
  <%= @customer.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @customer.last_name %>
</p>

<p>
  <b>Phone:</b>
  <%= @customer.phone %>
</p>

<p>
  <b>Address:</b>
  <%= @customer.address %>
</p>

<p>
  <b>Amt spent:</b>
  <%= @customer.amt_spent %>
</p>


<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
