<%= form_for(@order) do |f| %>

  <%= render 'order_fields', :f => f %>

  <%= render 'includes_drink_fields', :f => f%>


  <%= f.fields_for :preferences do |p| %>
    
    <%= render 'preference_fields', :p => p %>
    
    <%= render 'ingredient_fields', :p => p %>

  <% end %>





  <!-- When the movie is being created I just want to select the actors. Once it's been created I'll add the character names 
    <%#= f.label :ingredients, "Ingredients:" %><br />
    <%#= f.collection_select(:ingredient_ids, Ingredient.all, :id, :ingred_name, {:selected => @order.ingredient_ids, :include_blank => true}, {:size=>4}) %>-->
    <!-- Any of these will generate the correct select box. It's mostly just a matter of personal preference -->

    <%#= f.select :actor_ids, Actor.all.collect {|a| [ a.name, a.id ] }, {}, {:multiple => true, :size => 3} %>

    <%#= f.collection_select :ingredient_ids, Ingredient.all, :id, :ingred_name, {}, {:multiple => true, :size => 4} %>

    <%#= collection_select :movie, :actor_ids, Actor.all, :id, :name, {}, {:multiple => true, :size => 3} %>

    <%#= select :movie, :actor_ids, Actor.all.collect {|a| [ a.name, a.id ] }, {}, {:multiple => true, :size => 3} %>




<div class="actions">
  <%= f.submit %>
</div>
<% end %>

