<div class="field">
  <%= p.label "Enter quantity:" %>
  <%= p.number_field :quantity %>
</div>
<div class="field">
  Select size: <%= p.select :size, [["Select size", nil], 'S', 'M', 'L']%> <!-- figure out how to do this from the model remove-->
</div>
<div class="field">
  Select crust: <%= p.select :crust, [["Select crust", nil], 'Thick', 'Thin', 'Stuffed'] %>
</div>

<%= p.check_box :_destroy %>
<%= p.label :_destroy, "Remove Preference" %>