<p id="notice"><%= notice %></p>

<p>
  <b>Order time:</b>
  <%= @order.order_time %>
</p>

<p>
  <b>Price:</b>
  <%= @order.price %>
</p>

<p>
  <b>Delivered:</b>
  <%= @order.delivered %>
</p>


<% for id in @order.includes_drink_ids.each %>
	<p>
	<b>Drink Name:</b>
	<% d = IncludesDrink.find(id) %>
	<%= d.drink_name %>
	</p>
<% end %>



<%="Order inspect:"%>
<%=@order.inspect %>
<% for preference in @order.preferences %>
	<p>
	<b>Quantity:</b>
	<%= preference.quantity %>
	</p>

	<p>
	<b>Size:</b>
	<%= preference.size %>
	</p>

	<p>
	<b>Crust:</b>
	<%= preference.crust %>
	</p>

	<p>
	<b>Price:</b>
	<%= preference.price %>
	</p>
	<%="Preference inspect:"%>
	<%=preference.inspect%>
	<p>

	<% for idplz in preference.ingredient_ids.each %>
		<b>Ingredient Name:</b>
		<% i = Ingredient.find(idplz) %>
		<%= i.ingred_name %>
		</p>
	<% end %>
<% end %>


<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>