<p id="notice"><%= notice %></p>

<p>
  <b>Order time:</b>
  <%= @order.order_time %>
</p>

<p>
  <b>Price:</b>
  <%= @order.price %>
</p>

<p>
  <b>Delivered:</b>
  <%= @order.delivered %>
</p>


<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
