<h1>New preference</h1>

<!--<%= render 'form' %>-->

<%= form_for @preference do |f| %>
	<%= f.label "Enter quantity:" %>
	<%= f.text_field :quantity, :value => @preference.quantity %>

	<p> Select size: <%= select(:preference, :size, Preference::SIZES) %> </p>
	<p> Select crust: <%= select(:preference, :crust, Preference::CRUST_TYPES) %> </p>
<% end %>



<%= link_to 'Back', preferences_path %>
