<p id="notice"><%= notice %></p>

<p>
  <b>State:</b>
  <%= @taxis.state %>
</p>

<p>
  <b>Tax name:</b>
  <%= @taxis.tax_name %>
</p>

<p>
  <b>Amount:</b>
  <%= @taxis.amount %>
</p>


<%= link_to 'Edit', edit_taxis_path(@taxis) %> |
<%= link_to 'Back', taxes_path %>
