<p id="notice"><%= notice %></p>

<p>
  <b>State:</b>
  <%= @tax.state %>
</p>

<p>
  <b>Tax name:</b>
  <%= @tax.tax_name %>
</p>

<p>
  <b>Amount:</b>
  <%= @tax.amount %>
</p>


<%= link_to 'Edit', edit_tax_path(@tax) %> |
<%= link_to 'Back', taxes_path %>
